html,
body,
#viewDiv {
  height: 100%;
  width: 100%;
}

h1,h2,h3{
    align-items: center;
    text-align: center;
}


canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.fa-eye:hover,
fa-eye-slash:hover,
.fa-file:hover,
.fa-print:hover {
  color: red;
  cursor: pointer;
}

table, th, td {
  border: 1px solid black;
  align-items:center;
  text-align: center;
}



