
.spacer {
  flex: 1;
}

.toolbar {
  height: 70px;
  margin: -8px;
  display: flex;
  align-items: center;
  color: white;
  border-bottom: solid lightgray 1px;
}



.content {
  display: flex;
  margin: 32px auto;
  flex-direction: row;
  align-items: auto;
  height: 100vh;
  width:  100vw;
  background-color: #f0f0f0;
}



.esri-view {
  height: 100%;
  width: 40%;
  /* padding:5px; */
  /* outline: none; */
}


.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.control-view {
  margin: auto;
  width: 60%;
  
  border: 3px solid rgb(50, 25, 192);
  padding: 10px;
}


.control-graphic-view {
  height: 85%;
  width: 60%;
   padding:5px; 
   margin:15px;
  /* outline: none; */
}

.header-title {
  color: #24292e;
  font-size: 16pt;
}
