footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 70px;
  margin: -8px;
  display: flex;
  align-items: center;
  color: white;
  border-bottom: solid lightgray 1px;
}

/* .toolbar img {
  margin: 0 16px;
} */


.content {
  display: flex;
  margin: 32px auto;
  flex-direction: row;
  align-items: auto;
  height: 100vh;
  width:  100vw;
  background-color: #f0f0f0;
}




svg.material-icons {
  height: 24px;
  width: auto;
}


.esri-view {
  height: 100%;
  width: 50%;
  /* padding:5px; */
  /* outline: none; */
}


.header-title {
  color: #24292e;
  font-size: 16pt;
}
